DEBUG=True
SECRET_KEY=django-insecure-dev-only-change-me
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=instrument_shop_dev
POSTGRES_USER=instrument_shop_dev_user
POSTGRES_PASSWORD=instrument_shop_dev_pass
DB_HOST=db
DB_PORT=5432
